<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>

<div th:replace="/fragments/header :: header"></div>

<div class="container" th:class="align-center">

    <h2>Register new user</h2>

    <form
          th:action="@{/signup}"
          method="post">
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>

        <div>
            <label>
                <input type="text" name="username" placeholder="Username" required/>
            </label>
        </div>
        <div>
            <label>
                <input type="tel" name="mobile" placeholder="Mobile" required/>
            </label>
        </div>
        <div>
            <label>
                <input type="email" name="email" placeholder="Email" required/>
            </label>
        </div>
        <div>
            <label>
                <input type="password" name="password" placeholder="Password" required/>
            </label>
        </div>
        <div>
            <label>

                <input type="Repassword" name="Repassword" placeholder="Repeat Password"/>
            </label>
        </div>
        <div>
            <button class="green-btn" type="submit">Register</button>
        </div>
    </form>
</div>

<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>